body{
	overflow: hidden;
	background-color: green;
	color: white;
}
#container{
	position: absolute;
	left:0vw;
	padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 500vw;
    height: 70vh;
    top: 15vh;

    -webkit-flex-flow:  nowrap;
    z-index: -1;

}

#page1 {
	left: 0vw;
}

#page2 {
	left: 100vw;
}

#page3 {
	left: 200vw;
}

#page4 {
	left: 300vw;
}

#page5 {
	left: 400vw;
}

.slide {
	background: #3D4045;
	padding: 0px;
	width: 100vw;
	height: 70vh;
	color: gray;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

#topbar{
	position: fixed;
	left: 0vw;
	top: 0vh;
	height: 15vh;
	width: 100vw;
	background-color: #3D4045;
}


#bottombar{
	position: fixed;
	left: 0vw;
	top: 85vh;
	height: 15vh;
	width: 100vw;
	background-color: #3D4045;
}


#right{
	position: fixed;;
	left: 90vw;
	top: 0vh;
	width: 10vw;
	height: 100vh;
	font-size: xx-large;
	z-index: 0;

}

#left{
	position: fixed;;
	left: 0vw;
	top: 0vh;
	width: 10vw;
	height: 100vh;
	font-size: xx-large;
	z-index: 0;
}

/* Remove border after click*/
a {
   outline: 0;
}

button{
	background-color:rgba(255,0,0,0);
	border: 0px;
	color: white;
}

button:focus {
	outline:0;
}

.navbar{
	text-align: center;
	list-style-position: inside;
}
