<html>
    <head>
        <title>Me3D OctoPrint UI</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('plugin.Me3D.static', filename='css/styles.css') }}">
        <script src="{{ url_for('plugin.Me3D.static', filename='js/jquery-3.1.1.js') }}"></script>
        <script src="{{ url_for('plugin.Me3D.static', filename='js/custom.js') }}"></script>


    </head>

    <body>
        <div id="topbar">
            <!-- Navbar -->
            {% include 'Me3D_ui_navbar.jinja2' %}
        </div>

        <div id="middle">
            <button id="left" class="navigationalButton">&lt;</button>
            <div id="container">
                <div id="container-viewport">
                    <div id="page1" class="slide current-page">
                        {% include 'page1.jinja2' %}
                    </div>

                    <div id="page2" class="slide">
                        {% include 'page2.jinja2' %}
                    </div>

                    <div id="page3" class="slide">
                        {% include 'page3.jinja2' %}
                    </div>

                    <div id="page4" class="slide">
                        {% include 'page4.jinja2' %}
                    </div>

                    <div id="page5" class="slide">
                        {% include 'page5.jinja2' %}
                    </div>
                </div>
            </div>
            <button id="right" class="navigationalButton">&gt;</button>
        </div>

        <div id="bottombar">
        </div>



    </body>
</html>
