<html>
    <head>
        <title>Me3D OctoPrint UI</title>
        {% include 'stylesheets.jinja2' %}
        {% include 'initscript.jinja2' %}
        {% include 'javascripts.jinja2' %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('plugin.Me3D.static', filename='css/styles.css') }}">
        <script src="{{ url_for('plugin.Me3D.static', filename='js/jquery-3.1.1.js') }}"></script>
        <script src="{{ url_for('plugin.Me3D.static', filename='js/custom.js') }}"></script>
        
    </head>

    <body>
        <div id="topbar">
        <h1>Hello</h1>
        </div>
        
        <div id="container">
            <div id="page1">

            </div>

            <div id="page2">
            </div>


            <div id="page3">
            </div>


            <div id="page4">
            </div>


            <div id="page5">
            </div>
        </div>


        <div id="bottombar"> 
        </div>

        <button id="right">&gt;</button>
        <button id="left">&lt;</button>


    </body>
</html>