            <!-- Navbar -->
            <ul class="navbar">
                    <li id="loginButton">
                        <img
                            src="{{ url_for('plugin.Me3D.static', filename='img/Logo.svg') }}"
                            alt="Home"
                            class="navBarButton"
                        />
                    </li>

                        <svg class="dot" viewBox="0 0 500 500">
                            <circle class="dotCircle" cx="207.8" cy="207.8" r="207.8"/>
                        </svg>

                    <li id="collectionsButton">
                        <img src="{{ url_for('plugin.Me3D.static', filename='img/Tools.svg') }}" alt="Home" class="navBarButton">
                    </li>

                        <svg class="dot" viewBox="0 0 500 500">
                            <circle class="dotCircle" cx="207.8" cy="207.8" r="207.8"/>
                        </svg>

                    <li id="printSettingsButtton">
                        <img src="{{ url_for('plugin.Me3D.static', filename='img/Tools.svg') }}" alt="Home" class="navBarButton">
                    </li>

                        <svg class="dot" viewBox="0 0 500 500">
                            <circle class="dotCircle" cx="207.8" cy="207.8" r="207.8"/>
                        </svg>

                    <li id="preFlightChecklistButton">
                        <img src="{{ url_for('plugin.Me3D.static', filename='img/Tools.svg') }}" alt="Home" class="navBarButton">
                    </li>

                        <svg class="dot" viewBox="0 0 500 500">
                            <circle class="dotCircle" cx="207.8" cy="207.8" r="207.8"/>
                        </svg>

                    <li id="monitoringButton">
                        <img src="{{ url_for('plugin.Me3D.static', filename='img/Tools.svg') }}" alt="Home" class="navBarButton">
                    </li>
            </ul>
