<html>
    <head>
        <title>Me3D OctoPrint UI</title>
        {% include 'stylesheets.jinja2' %}
        
    </head>
    <body>
        <h1>Me3D OctoPrint UI</h1>

        <p>
            Well hello there. Sadly, this is only a placeholder page.
            Hope you are not too disappointed :)
        </p>

        <p>
            Some data from the <code>render_kwargs</code> passed to this
            template:
        </p>

        <ul>
            <!--
             We can include any render keywords arguments by their name,
             using the regular Jinja templating functionality.
             -->
            <li>Version: {{ display_version }}</li>
            <li>Debug: {{ debug }}</li>
            <li>Template Count: {{ templates|length }}</li>
            <li>Installed Plugins: {{ pluginNames|join(", ") }}</li>
        </ul>
    </body>
</html>