<h2>My build choices</h2>
<ul>
    <li>
        <label>Layer Height <input type="number" step="0.1" name="layer_height" value="0.1"></label>
    </li>
    <li>
        <label>Fill percentage<input type="number" name="fill" value="15"></label>
    </li>
    <li>
        <label>Shell Thickness <input type="text" name="shell" value="2"></label>
    </li>
    <li>
        <label>Top Thickness <input type="text" name="top" value="2"></label>
    </li>
    <li>
        <label>Bottom Thickness  <input type="text" name="bottom" value="2"></label>
    <li>
</ul>
