<H2>My material choices</H2>

<ul>
    <li>
        <label>
            Material Type
            <select>
                <option value="PLA">PLA</option>
                <option value="PolyPlus">PolyPlus</option>
                <option value="PolyMax">PolyMax</option>
                <option value="PolyFlex">PolyFlex</option>
                <option value="PolyWood">PolyWood</option>
            </select>
        </label>
    </li>
    <li>
        <label>
            Print Temperature
            <input type="number" name="temperature" value="15" >
        </label>
    </li>
    <li>
        <label>
            Print Speed
            <input type="text" name="speed" value="2" >
        </label>
    </li>



