<H2>My build tweaks</H2>
<ul>
    <li>
        <label>
            Support On
            <input type="number" name="support" value="0.1">
        </label>
    </li>
    <li>
        <label>
            Raft On
            <input type="number" name="raft" value="15%">
        </label>
    </li>
    <li>
        <label>
            Airgap
            <input type="text" name="airgap" value="2">
        </label>
    </li>
</ul>
