<div id="page2top">
</div>

<div id="page2bottom">

    <div class="leftDiv">
        <h2>My build choices</h2>
        <ul>
            <li>
                Layer Height: <input type="number" name="layer_height" value="0.1">
            </li>
            <li>
                Fill:<input type="number" name="fill" value="15%">
            </li>
            <li>
                Shell Thickness: <input type="text" name="shell" value="2">
            </li>
            <li>
                Top Thickness: <input type="text" name="top" value="2">
            </li>
            <li>
                Bottom Thickness:  <input type="text" name="bottom" value="2">
            <li>
        </ul>
    </div>

    <div class="middleDiv">
        <H2>My material choices</H2>
        <p>Material Type: </p><select>
            <option value="PLA">PLA</option>
            <option value="PolyPlus">PolyPlus</option>
            <option value="PolyMax">PolyMax</option>
            <option value="PolyFlex">PolyFlex</option>
            <option value="PolyWood">PolyWood</option>
                            </select><br>
        <p>Print Temperature: </p><input type="number" name="temperature" value="15%"><br>
        <p>Print Speed:  </p><input type="text" name="speed" value="2">
        
    </div>

    <div class="leftDiv">
        <H2>My build tweaks</H2>
        <p>Support On: </p><input type="number" name="support" value="0.1"><br>
        <p>Raft On: </p><input type="number" name="raft" value="15%"><br>
        <p>Airgap:  </p><input type="text" name="airgap" value="2">
    </div>
</div>