<ul id="Page1Menu">
	<li>
		<button class="menuButton" id="P1_start">Lets get started</button>
	</li>

	<li>
		<button class="menuButton" id="P1_setup">Setup</button>
	</li>

	<li>
		<button class="menuButton" id="P1_tutorial">I need a tutorial</button>
	</li>
</ul>